header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    height: 75px;
    width: 100%;
}
.banner {
    width: 100%;
    height: 600px;
    background-image: url("hcafs_banner2.jpg");
    border-style: dashed;
}
.nyheder {
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    border-style: dashed;
    width: 100%;
    height: 250px;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(1);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.nyhed1 {
    grid-area: 1/1/1/1;
    margin: 50px;
    margin-left: 200px;
    display: grid;
    width: 20%;
    height: 120px;
    border-style: dashed;
}
.nyhed2 {
    grid-area: 1/2/1/2;
    margin: 50px;
    display: grid;
    width: 20%;
    height: 120px;
    border-style: dashed;
}
.nyhed3 {
    grid-area: 1/3/1/3;
    margin: 50px;
    display: grid;
    width: 20%;
    height: 120px;
    border-style: dashed;
}
.nyhed4 {
    grid-area: 1/4/1/4;
    margin: 50px;
    margin-right: 200px;
    display: grid;
    width: 20%;
    height: 120px;
    border-style: dashed;
    border-color: aqua;
}
.frivillig {
    border-style: dashed;
    width: 100%;
    height: 350px;
}
.Sponsor {
    border-style: dashed;
    position: relative;
    width: 100%;
    height: 250px;
}
.footergrid {
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    border-style: dashed;
    width: 100%;
    height: 250px;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(1);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.foot1 {
    grid-area: 1/1/1/1;
    display: grid;
    width: 33%;
    height: 100%;
    border-style: dashed;
}
.foot2 {
    grid-area: 1/2/1/2;
    display: grid;
    width: 33%;
    height: 100%;
    border-style: dashed;
}
.foot3 {
    grid-area: 1/3/1/3;
    display: grid;
    width: 33%;
    height: 100%;
    border-style: dashed;
}
.mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .nyhedsboks {
  display: flex;
  height: 175px;
  width: 200px;
  border: solid black 2px;
  background-color: white;
  margin-top: 200px;
  margin-left: 133px;
}

#overlay {
  color: white;
  display: none;
  width: 400px;
  height: 375px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid black 2px;
  background-color: white;
  z-index: 2;
  position: absolute;
  margin-left: 70px;
  margin-top: 50px;
}

.nyhedsbillede {
display: flex;
height: 250px;
width: 175px;
border: solid black 2px;
margin-left: 223px;
}

.nyhedstitel {
color: black;
}

.nyhedstekst {
  display: flex;
  font-size: 1;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}

.nyhedsbillede1 {
display: flex;
height: 175px;
width: 200px;
border: solid black 2px;
}
